:root {
  --html-width: 54%;
  --css-width: ;
  --javascript-width: ;
  --python-width: ;
  --react-width: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.skills h2 {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.progress-bar {
  width: 600px;
  height: 10px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #a5a5a5;
}

.progress-bar div {
  height: 10px;
  border-radius: 5px;
  width: 0;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.progress-bar span {
  margin: -15px -20px 0 0;
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 50%;
  background-color: #333;
  font-size: 14px;
}

.html {
  background-color: #f17e12;
  animation-name: html;
}

.css {
  background-color: #0da2dd;
  animation-name: css;
}

.javascript {
  background-color: #d4d000;
  animation-name: javascript;
}

.python {
  background-color: #7415e0;
  animation-name: python;
}

.react {
  background-color: #e014a3;
  animation-name: react;
}

.html span {
  border-color: #f17e12;
}

.css span {
  border-color: #0da2dd;
}

.javascript span {
  border-color: #d4d000;
}

.python span {
  border-color: #7415e0;
}

.react span {
  border-color: #e014a3;
}

@keyframes html {
  100% {
    width: var(--html-width);
  }
}

@keyframes css {
  100% {
    width: var(--css-width);
  }
}

@keyframes javascript {
  100% {
    width: var(--javascript-width);
  }
}

@keyframes python {
  100% {
    width: var(--python-width);
  }
}

@keyframes react {
  100% {
    width: var(--react-width);
  }
}
